.error-boundary {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 420px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.error-boundary__description {
  margin-top: 8px
}

.error-boundary__button {
  margin: 0 auto;
  margin-top: 20px
}