.modals__open-button {
  width: 20px;
  height: 20px;
  color: var(--highlight-color)
}

@media (max-width: 425px) {
  .modals__open-button {
    width: 24px;
    height: 24px;
  }
}

.modals__delete-button {
  color: var(--error-color);
}

.delete-node__alert {
  display: inline-block;
  margin-bottom: 8px;
}


.delete-node__button {
  background-color: var(--error-color);
}